/* CSS Document */

.mainlogo {
	display:block;
	margin:0 auto;
	width: 398px;

}

.sample_thumb {
	background-image:url('images/sample_bk.png');
	width:398px;
	height:279px;
	display:table;
	background-repeat:no-repeat;
	padding-left:40px;
	padding-top:30px;
	margin:0 auto;
}

#editor { 
	position:relative;
	width: 100%;
	margin:0px;
	top:-40px;
}

.ui-content {
	overflow-y: hidden;
}

#canvas {
	width: 100%;
	height: 400px;
}

#credits {
	font-size:smaller;
}

.ui-icon-copy {
	background-image: url("images/icon-copy.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

.ui-icon-cut {
	background-image: url("images/icon-cut.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

.ui-icon-paste {
	background-image: url("images/icon-paste.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

.ui-icon-backspace {
	background-image: url("images/icon-backspace.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

#floating_shortcut {
	position:relative;
	margin-bottom:-30px;
	height: 30px;
	top:150px;
	z-index: 1500;
	opacity: 0.8;
	border-radius:10px;
	background-color:#FFF;
	border-style:solid;
	background-color:#FFF;
	display:inline-block;
	font-size:small;
	text-align:center;
	border-width:1px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}
#floating_shortcut:hover{
	opacity:1.0;
}

.console_input {
	color:#390;
}

.code {
	font-family:"Courier New", Courier, monospace;
	background-color:#FFF;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	padding:5px;
}

.line_number {
	background-color:#FFF;
	border:thin #000;
	padding:5px;
	border-radius:5px;
	font-size:small;
}

table, th, td {
	border: 1px solid black;
	padding:5px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: #EEE;
}

.var_name {
	font-family:"Courier New", Courier, monospace;
}

.var_name_link {
	background-color:#6FF;
	border-radius:5px;
}

#output {
	max-height:300px;
	overflow-y: scroll;
}

#code_output_holder:hover {
	opacity:1.0;
}

#code_output_holder {
	position:fixed;
	top:90px;
	right:20px;
	z-index:4000;
	opacity:0.6;
	padding:10px;
	max-width:50%;
	border-radius:10px;
	background-color:#FFF;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
	transition: all 1s;
}
.chk_shortcut {
	float:right;
}
.fsc {
	font-size:10px;
}
.center {
	text-align:center;
}

.sample {
	font-size:xx-small;
	background-color:#EEE;
	padding:10px;
	border-radius:10px;
	display:none;
}

#quick_run_options {
	display:none;
}

.debug_status {
	background-color:rgba(0,255,0,0.5);
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	text-align: center;
	padding:20px;
	transition: background-color 0.5s;
}