/* CSS Document */

.mainlogo {
	float:right;
}

#editor { 
	position:relative;
	width: 100%;
	height: 100px;
	margin:0px;	
}

.ui-content {
	overflow-y: hidden;
}

#canvas {
	width: 100%;
	height: 400px;
}

#credits {
	font-size:smaller;
}

.ui-icon-copy {
	background-image: url("images/icon-copy.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

.ui-icon-cut {
	background-image: url("images/icon-cut.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

.ui-icon-paste {
	background-image: url("images/icon-paste.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

.ui-icon-backspace {
	background-image: url("images/icon-backspace.png");
	background-repeat: no-repeat;
	background-position: 8px;
}

#floating_shortcut {
	position:relative;
	margin-bottom:-50px;
	height: 50px;
	top:150px;
	width: 120px;
	z-index: 1500;
	opacity: 0.8;
}

.console_input {
	color:#390;
}

#ad {
	width:100%;
	background-color:#FFF;
	height:300px;
}